 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif; 
} 
body {
  background-color: #E3F2FD;
  color: #333;
}
/* NAV */
nav {
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

 nav .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.menu-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-nav li a {
  text-decoration: none;
  color: #333;
  font-weight: 500; 
}
.menu-nav li a:hover {
  text-decoration: underline;
}

.iconos {
  display: flex;
  gap: 15px;
}

.iconos button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
} 

#menu-toggle {
  display: none ;
}
/* menu hamburguesa */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* RESPONSIVE: hasta 768px */
@media (max-width: 768px) {
  /* Mostrar icono hamburguesa */
  .menu-icon {
    display: block;
  }

  /* Ocultar por defecto el menu*/
  .menu-nav,
  .iconos {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 10px;
  }

  /* Mostrar cuando el checkbox está chequeado */
  .menu-toggle:checked ~ .menu-nav,
  .menu-toggle:checked ~ .iconos {
    display: flex;
  }

  .menu-nav li {
    margin: 10px 0;
    text-align: center;
  }

  .iconos {
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    align-items: flex-start;
  }
}

/* CARRUSEL */
.carrusel {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
  background-color: #2c7a7b; 
}

.slides {
  display: flex;
  width: 300% ; /* tres imágenes = 3 x 100% */
  height: 550px;
  animation: slide 15s infinite;
  background-color: #e05555;
}

.slides img {
  width: calc(100%/3);  
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
 
@keyframes slide {
  0%      { transform: translateX(0%); }
  25%      { transform: translateX(-33%); } 
  75%  { transform: translateX(-66%); }
  100%    { transform: translateX(0%); }  
}
 

/* PROMOCIONES */
.promociones {
  background-color: #f6a1a1;
  padding: 30px 30px 60px;
}

.promociones h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #f0f0f0;
}

.promo-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.promo {
  background-color: #ffe6e6;
  padding: 15px;
  border-radius: 8px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.promo h3 {
  margin-bottom: 10px;
  
}

/* PRODUCTOS */
.productos {
  padding: 30px 20px;
  background-color: #fff;
}

.productos h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #1b6bad;
}

.lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
} 

.tarjeta-producto {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px; 
  text-align: center;
  background-color: #fafafa;
  transition: box-shadow 0.3s ease;
}

.tarjeta-producto:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.192);
}

.tarjeta-producto img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.tarjeta-producto h3 {
  font-size: 1.4rem; 
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.tarjeta-producto .precio {
   font-weight: 500;
   font-size: 1.2rem; 
   color: #2c7a7b;
   margin: 0.3rem 0;
}

.tarjeta-producto button {
  background-color: #FF8A80;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 7px;
  transition: background-color 0.3s ease;
}

.tarjeta-producto button:hover {
  background-color: #e05555;
}

/* FOOTER */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
}

footer .footer-columna {
  margin-bottom: 20px;
}

footer h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  color: #ccc;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
}

footer ul li a i {
  font-size: 1.5rem;
  padding-right: 5px;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background-color: #f1f1f1;
}

/* Sección contacto */
.contacto {
  padding: 40px 20px;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contacto h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.contacto p {
  margin-bottom: 20px;
  color: #555;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-contacto label {
  font-weight: bold;
}

.form-contacto input,
.form-contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-contacto button {
  background-color: #ff6b6b;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.form-contacto button:hover {
  background-color: #e05555;
}



/* Responsive para pantallas chicas */
@media (max-width: 768px) {
  nav .menu {
    flex-direction: column;
    gap: 10px;
  }

  .promo-lista,
  .lista-productos {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column; 
    align-items: center;
  }
  .carrusel {
    height: 100%; 
  }
}
.ubicacion {
  background-color: #f1f1f1;
  padding: 40px 20px;
  border-radius: 8px;
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
}

.ubicacion h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.ubicacion p {
  margin-bottom: 20px;
  color: #555;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  align-items: center;
}

.info-contacto i {
  color: #ff6b6b;
  margin-right: 8px;
}

.mapa-contenedor {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Responsive */
@media (max-width: 600px) {
  .info-contacto {
    font-size: 0.95rem;
  }
}


/* Producto */

.detalle-producto {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f8f8;
}
.ruta-actual {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #555;
}

.ruta-actual a {
  color: #23282c;
  text-decoration: none;
}

.ruta-actual a:hover {
  text-decoration: underline;
}


.imagen-producto img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.info-producto {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-producto h1 {
  font-family: 'Poppins', sans-serif; 
}

.info-producto .precios .precio {
  font-size: 1.5rem;
  color: #2c7a7b;
  font-weight: bold;
  margin-bottom: 5px;
}

.precio-sin-impuestos {
  font-size: 0.8rem;
  color: #555; 
  
}
.descripcion-titulo {
  font-size: 1rem;
  font-weight: bold;
  color: #333; 
}
.descripcion-producto {
  color: #333;
}

.opciones label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.opciones select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.btn-agregar {
  margin-top: 2rem;
  padding: 0.8rem;
  background-color: #FF8A80;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #e05555;
} 